# Proyecto 1 Data Science

Para este proyecto se analizaran los datos de los establecimientos educativos de todo el país que lleguen hasta el nivel de diversificado.

## Descripción de los datos

In [1]:
import pandas as pd

df = pd.read_csv('institutions_data.csv')
df.columns = df.iloc[0]
df =df[1:] #Lo que se hace con esto es eliminar la primera fila que contiene los numeros de las columnas

In [2]:
num_rows = df.shape[0]
print(f"Se tiene un total de: {num_rows}, para el dataset que contiene todos los datos de los establecimientos crudos")

Se tiene un total de: 11277, para el dataset que contiene todos los datos de los establecimientos crudos

Para el dataset tenemos las siguientes variables:

In [3]:
for column in df.columns:
    print(column)

CODIGO
DISTRITO
DEPARTAMENTO
MUNICIPIO
ESTABLECIMIENTO
DIRECCION
TELEFONO
SUPERVISOR
DIRECTOR
NIVEL
SECTOR
AREA
STATUS
MODALIDAD
JORNADA
PLAN
DEPARTAMENTAL

Para un total de 17 variables tenemos la siguiente clasificación:
- Cualitativas:
    - Codigo: Código único del establecimiento.
    - Distrito: Código o nombre del distrito administrativo del Mineduc.
    - Departamento: Nombre del departamento de Guatemala.
    - Municipio: Nombre del municipio donde esta ubicado el centro educativo.
    - Establecimiento: Nombre del establecimiento educativo.
    - Dirección: Dirección física del establecimiento.
    - Teléfono: Número telefónico del establecimiento.
    - Supervisor: Nombre completo del supervisor asignado.
    - Director: Nombre del director o directora del establecimiento.
    - Nivel: nivel educativo ofrecido (diversificado, primaria, etc)
    - Sector: Sector administrativo (oficial, privado, cooperativa, etc) 
    - Area: Área geográfica (rural, urbana)
    - Status: Estado operativo (abierta, cerrada, etc)
    - Modalidad: Modalidad educativa (monolingüe, bilingüe, etc)
    - Jornada: Horario (matutino, vespertino, nocturno, etc)
    - Plan: Tipo de plan educativo (Diario, Semipresencial, etc)
    - Departamental: Nombre del departamento.

Se tiene un vistazo inicial a las primeras 10 columnas del dataset utilizado

In [4]:
df.head(10)

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
1,18-01-0037-46,NaN,IZABAL,PUERTO BARRIOS,INSTITUTO PRIVADO MIXTO DE EDUCACION DIVERSIFI...,10A CALLE ENTRE 8A Y 9A AVENIDAS,NaN,NaN,NaN,DIVERSIFICADO,PRIVADO,URBANA,CERRADA DEFINITIVAMENTE,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),IZABAL
2,18-01-0040-46,NaN,IZABAL,PUERTO BARRIOS,INSTITUTO POR COOPERATIVA 'DR. LUIS PASTEUR',9A AV ENTRE 14 Y 17 CALLES,79480221,NaN,NaN,DIVERSIFICADO,COOPERATIVA,URBANA,CERRADA DEFINITIVAMENTE,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),IZABAL
3,18-01-0041-46,18-007,IZABAL,PUERTO BARRIOS,ESCUELA NACIONAL MIXTA DE CIENCIAS COMERCIALES...,14 CALLE Y 11 AVENIDA,79480444,ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA,KARLA YADIRA FRANCO CALDERÓN,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),IZABAL
4,18-01-0042-46,18-008,IZABAL,PUERTO BARRIOS,"ESCUELA PARTICULAR MIXTA ""JUSTO RUFINO BARRIOS""",8A AVENIDA ENTRE 17 Y 18 CALLES,79487032,ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA,MARIO RENÉ JUÁREZ SALGUERO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),IZABAL
5,18-01-0043-46,18-008,IZABAL,PUERTO BARRIOS,COLEGIO DE CIENCIAS DE LA COMPUTACION,8A. AVENIDA Y 10A. CALLE,79480009,ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA,--,DIVERSIFICADO,PRIVADO,URBANA,CERRADA TEMPORALMENTE,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),IZABAL
6,18-01-0044-46,NaN,IZABAL,PUERTO BARRIOS,INSTITUTO PRIVADO MIXTO DE EDUCACION DIVERSIFI...,8A AVENIDA ENTRE 17 Y 18 CALLES,79480364,NaN,NaN,DIVERSIFICADO,PRIVADO,URBANA,CERRADA DEFINITIVAMENTE,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),IZABAL
7,18-01-0045-46,18-008,IZABAL,PUERTO BARRIOS,COLEGIO PARTICULAR MIXTO CRISTO REY,10A CALLE ENTRE 8A Y 9A AVENIDAS,79488225,ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA,JAVIER ESTUARDO LÓPEZ TOBAR,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),IZABAL
8,18-01-0073-46,18-008,IZABAL,PUERTO BARRIOS,COLEGIO TECNICO PRIVADO MIXTO LA PATRIA,ALDEA ENTRE RIOS,79475263,ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA,LUIS ALBERTO CÁRCAMO PEÑA,DIVERSIFICADO,PRIVADO,RURAL,CERRADA TEMPORALMENTE,MONOLINGUE,DOBLE,FIN DE SEMANA,IZABAL
9,18-01-0108-46,NaN,IZABAL,PUERTO BARRIOS,COLEGIO PRIVADO MIXTO 'LA INMACULADA' JV,"COL. BANVI I CASA #48, TO. TOMAS DE CASTILLA",79483156,NaN,NaN,DIVERSIFICADO,PRIVADO,RURAL,CERRADA DEFINITIVAMENTE,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),IZABAL
10,18-01-0115-46,18-008,IZABAL,PUERTO BARRIOS,"COLEGIO MIXTO EXPERIMENTAL ""EDUCARE""",7A. CALLE 9A. AVENIDA,NaN,ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA,YOLANDA RIVAS MONROY,DIVERSIFICADO,PRIVADO,URBANA,CERRADA TEMPORALMENTE,MONOLINGUE,MATUTINA,FIN DE SEMANA,IZABAL

Nos pedian trabajar unicamente con el dataset de DIVERSIFICADO, los datos que descargamos literalmente los filtramos por ese nivel, sin embargo vamos a iniciar revisando a ver si si son efectivamente del nivel DIVERSIFICADO todos los datos descargados.

In [5]:
# --- Vistazo rápido a NIVEL (solo inspección) ---
print("Conteo de valores en NIVEL:")
print(df['NIVEL'].fillna('(NA)').value_counts(), "\n")

# Primeras 10 filas donde NIVEL != 'DIVERSIFICADO'
cols = [c for c in ['CODIGO','ESTABLECIMIENTO','DEPARTAMENTO','MUNICIPIO','NIVEL'] if c in df.columns]
muestra = (df.loc[df['NIVEL'].notna() & (df['NIVEL'] != 'DIVERSIFICADO'), cols]
             .head(10)
             .reset_index(drop=True))

muestra  

filtro = df[df["NIVEL"] != "DIVERSIFICADO"]

print(filtro)

Conteo de valores en NIVEL:
NIVEL
DIVERSIFICADO    11277
Name: count, dtype: int64

Empty DataFrame
Columns: [CODIGO, DISTRITO, DEPARTAMENTO, MUNICIPIO, ESTABLECIMIENTO, DIRECCION, TELEFONO, SUPERVISOR, DIRECTOR, NIVEL, SECTOR, AREA, STATUS, MODALIDAD, JORNADA, PLAN, DEPARTAMENTAL]
Index: []

En este caso podemos ver que en la variable NIVEL todas las instituciones tienen el valor de "DIVERSIFICADO" y no presentan otro tipo de valor

### Normalizar textos

In [6]:
# Normalizar textos de todas las columnas a MAYÚSCULAS y sin espacios extras
def normalizar_texto(texto):
    if pd.isnull(texto):
        return texto
    return ' '.join(str(texto).strip().upper().split())

for col in df.columns:
    df[col] = df[col].apply(normalizar_texto)

df.head()

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
1,18-01-0037-46,NaN,IZABAL,PUERTO BARRIOS,INSTITUTO PRIVADO MIXTO DE EDUCACION DIVERSIFI...,10A CALLE ENTRE 8A Y 9A AVENIDAS,NaN,NaN,NaN,DIVERSIFICADO,PRIVADO,URBANA,CERRADA DEFINITIVAMENTE,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),IZABAL
2,18-01-0040-46,NaN,IZABAL,PUERTO BARRIOS,INSTITUTO POR COOPERATIVA 'DR. LUIS PASTEUR',9A AV ENTRE 14 Y 17 CALLES,79480221,NaN,NaN,DIVERSIFICADO,COOPERATIVA,URBANA,CERRADA DEFINITIVAMENTE,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),IZABAL
3,18-01-0041-46,18-007,IZABAL,PUERTO BARRIOS,ESCUELA NACIONAL MIXTA DE CIENCIAS COMERCIALES...,14 CALLE Y 11 AVENIDA,79480444,ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA,KARLA YADIRA FRANCO CALDERÓN,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),IZABAL
4,18-01-0042-46,18-008,IZABAL,PUERTO BARRIOS,"ESCUELA PARTICULAR MIXTA ""JUSTO RUFINO BARRIOS""",8A AVENIDA ENTRE 17 Y 18 CALLES,79487032,ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA,MARIO RENÉ JUÁREZ SALGUERO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),IZABAL
5,18-01-0043-46,18-008,IZABAL,PUERTO BARRIOS,COLEGIO DE CIENCIAS DE LA COMPUTACION,8A. AVENIDA Y 10A. CALLE,79480009,ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA,--,DIVERSIFICADO,PRIVADO,URBANA,CERRADA TEMPORALMENTE,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),IZABAL

### Vamos a ver valores nulos por filas.
Ver cuántas filas tienen valores nulos en las columnas clave

In [7]:
print("Valores nulos por columna:")
print(df.isnull().sum())

Valores nulos por columna:
0
CODIGO                0
DISTRITO            525
DEPARTAMENTO          0
MUNICIPIO             0
ESTABLECIMIENTO       4
DIRECCION            77
TELEFONO            935
SUPERVISOR          528
DIRECTOR           1499
NIVEL                 0
SECTOR                0
AREA                  0
STATUS                0
MODALIDAD             0
JORNADA               0
PLAN                  0
DEPARTAMENTAL         0
dtype: int64

Se puede ver que las únicas variables que presentan datos vacíos son: DISTRITO, DIRECCION, TELEFONO, SUPERVISOR y DIRECTOR. Esto nos indica que hay datos que no se pudieron recolectar para algunos establecimiento.

### Podriamos empezar con identificar datos duplicados. Esto nos vamos a guiar por la columna codigo

In [8]:
duplicados = df[df.duplicated(subset=['CODIGO'], keep=False)]
print(f"Registros con CODIGO duplicado: {duplicados.shape[0]}")

Registros con CODIGO duplicado: 0

En este caso no tenemos filas repetidas, por lo que no se debe de unificar o eliminar ninguna fila ya que todas son únicas

### Ahora vamos a evaluar formatos en los numeros de telefono...

In [11]:
# Primero trabajamos una copia para no perder datos originales
df['TELEFONO_ORIGINAL'] = df['TELEFONO']

# Reemplazamos separadores comunes por un guión único
df['TELEFONO_ORIGINAL'] = df['TELEFONO_ORIGINAL'].str.replace(r'[\s/,]+', '-', regex=True)

# Dividimos en máximo dos teléfonos
telefonos_divididos = df['TELEFONO_ORIGINAL'].str.split('-', n=1, expand=True)

# Asignamos a nuevas columnas
df['TELEFONO_1'] = telefonos_divididos[0]
df['TELEFONO_2'] = telefonos_divididos[1]

# Limpiamos cada uno para dejar solo números
df['TELEFONO_1'] = df['TELEFONO_1'].str.replace(r'\D', '', regex=True)
df['TELEFONO_2'] = df['TELEFONO_2'].str.replace(r'\D', '', regex=True)

# Si alguno queda vacío, lo marcamos como NaN
df['TELEFONO_1'] = df['TELEFONO_1'].replace('', pd.NA)
df['TELEFONO_2'] = df['TELEFONO_2'].replace('', pd.NA)

# Verificamos los resultados
df[['ESTABLECIMIENTO', 'TELEFONO_1', 'TELEFONO_2']].head(10)

0                                    ESTABLECIMIENTO TELEFONO_1 TELEFONO_2
0  INSTITUTO PRIVADO MIXTO DE EDUCACION DIVERSIFI...        NaN        NaN
1       INSTITUTO POR COOPERATIVA 'DR. LUIS PASTEUR'   79480221       None
2  ESCUELA NACIONAL MIXTA DE CIENCIAS COMERCIALES...   79480444       None
3    ESCUELA PARTICULAR MIXTA "JUSTO RUFINO BARRIOS"   79487032       None
4              COLEGIO DE CIENCIAS DE LA COMPUTACION   79480009       None
5  INSTITUTO PRIVADO MIXTO DE EDUCACION DIVERSIFI...   79480364       None
6                COLEGIO PARTICULAR MIXTO CRISTO REY   79488225       None
7            COLEGIO TECNICO PRIVADO MIXTO LA PATRIA   79475263       None
8           COLEGIO PRIVADO MIXTO 'LA INMACULADA' JV   79483156       None
9               COLEGIO MIXTO EXPERIMENTAL "EDUCARE"        NaN        NaN

In [12]:
# Eliminar columnas innecesarias
df = df.drop(columns=['TELEFONO', 'TELEFONO_ORIGINAL'])

# Verificar
df.head()

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL,TELEFONO_1,TELEFONO_2
0,18-01-0037-46,NaN,IZABAL,PUERTO BARRIOS,INSTITUTO PRIVADO MIXTO DE EDUCACION DIVERSIFI...,10A CALLE ENTRE 8A Y 9A AVENIDAS,NaN,NaN,DIVERSIFICADO,PRIVADO,URBANA,CERRADA DEFINITIVAMENTE,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),IZABAL,NaN,NaN
1,18-01-0040-46,NaN,IZABAL,PUERTO BARRIOS,INSTITUTO POR COOPERATIVA 'DR. LUIS PASTEUR',9A AV ENTRE 14 Y 17 CALLES,NaN,NaN,DIVERSIFICADO,COOPERATIVA,URBANA,CERRADA DEFINITIVAMENTE,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),IZABAL,79480221,None
2,18-01-0041-46,18-007,IZABAL,PUERTO BARRIOS,ESCUELA NACIONAL MIXTA DE CIENCIAS COMERCIALES...,14 CALLE Y 11 AVENIDA,ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA,KARLA YADIRA FRANCO CALDERÓN,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),IZABAL,79480444,None
3,18-01-0042-46,18-008,IZABAL,PUERTO BARRIOS,"ESCUELA PARTICULAR MIXTA ""JUSTO RUFINO BARRIOS""",8A AVENIDA ENTRE 17 Y 18 CALLES,ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA,MARIO RENÉ JUÁREZ SALGUERO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),IZABAL,79487032,None
4,18-01-0043-46,18-008,IZABAL,PUERTO BARRIOS,COLEGIO DE CIENCIAS DE LA COMPUTACION,8A. AVENIDA Y 10A. CALLE,ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA,--,DIVERSIFICADO,PRIVADO,URBANA,CERRADA TEMPORALMENTE,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),IZABAL,79480009,None

### Ahora pasamos a verificar categorías en variables categóricas
Esto lo hacemos para que por ejemplo en area no digan valores como URBANA Y URBANO o algo asi de errores pequeños de escritura.

In [13]:
categorical_cols = ['AREA', 'SECTOR', 'MODALIDAD', 'STATUS', 'JORNADA', 'PLAN']

for col in categorical_cols:
    print(f"\nValores únicos en {col}:")
    print(df[col].unique())

Valores únicos en AREA:
['URBANA' 'RURAL' 'SIN ESPECIFICAR']

Valores únicos en SECTOR:
['PRIVADO' 'COOPERATIVA' 'OFICIAL' 'MUNICIPAL']

Valores únicos en MODALIDAD:
['MONOLINGUE' 'BILINGUE']

Valores únicos en STATUS:
['CERRADA DEFINITIVAMENTE' 'ABIERTA' 'CERRADA TEMPORALMENTE'
 'TEMPORAL TITULOS' 'TEMPORAL NOMBRAMIENTO']

Valores únicos en JORNADA:
['NOCTURNA' 'VESPERTINA' 'MATUTINA' 'DOBLE' 'SIN JORNADA' 'INTERMEDIA']

Valores únicos en PLAN:
['DIARIO(REGULAR)' 'FIN DE SEMANA' 'IRREGULAR' 'A DISTANCIA'
 'SEMIPRESENCIAL (FIN DE SEMANA)' 'SEMIPRESENCIAL (UN DÍA A LA SEMANA)'
 'DOMINICAL' 'SEMIPRESENCIAL' 'SABATINO' 'VIRTUAL A DISTANCIA' 'MIXTO'
 'SEMIPRESENCIAL (DOS DÍAS A LA SEMANA)' 'INTERCALADO']

Como podemos observar los datos no hay ninguno que sean parecidos a otros asi que estas columnas categoricas estan bien.

Pero nos faltan revisar columnas clave..

In [14]:
categorical_cols = ['DEPARTAMENTO', 'MUNICIPIO', 'ESTABLECIMIENTO']

for col in categorical_cols:
    print(f"\nValores únicos en {col}:")
    print(df[col].unique())

Valores únicos en DEPARTAMENTO:
['IZABAL' 'CIUDAD CAPITAL' 'BAJA VERAPAZ' 'PETEN' 'CHIQUIMULA' 'ESCUINTLA'
 'QUICHE' 'HUEHUETENANGO' 'JALAPA' 'SANTA ROSA' 'SAN MARCOS' 'GUATEMALA'
 'SACATEPEQUEZ' 'SOLOLA' 'ZACAPA' 'RETALHULEU' 'TOTONICAPAN'
 'CHIMALTENANGO' 'SUCHITEPEQUEZ' 'EL PROGRESO' 'ALTA VERAPAZ'
 'QUETZALTENANGO' 'JUTIAPA']

Valores únicos en MUNICIPIO:
['PUERTO BARRIOS' 'LIVINGSTON' 'EL ESTOR' 'MORALES' 'LOS AMATES' 'ZONA 1'
 'ZONA 2' 'ZONA 3' 'ZONA 4' 'ZONA 5' 'ZONA 6' 'ZONA 7' 'ZONA 8' 'ZONA 9'
 'ZONA 10' 'ZONA 11' 'ZONA 12' 'ZONA 13' 'ZONA 14' 'ZONA 15' 'ZONA 16'
 'ZONA 17' 'ZONA 18' 'ZONA 19' 'ZONA 21' 'ZONA 24' 'ZONA 25' 'SALAMA'
 'SAN MIGUEL CHICAJ' 'RABINAL' 'CUBULCO' 'GRANADOS' 'SANTA CRUZ EL CHOL'
 'SAN JERONIMO' 'PURULHA' 'FLORES' 'SAN JOSE' 'SAN BENITO' 'SAN ANDRES'
 'LA LIBERTAD' 'SAN FRANCISCO' 'SANTA ANA' 'DOLORES' 'SAN LUIS' 'SAYAXCHE'
 'MELCHOR DE MENCOS' 'POPTUN' 'LAS CRUCES' 'EL CHAL' 'CHIQUIMULA'
 'SAN JOSE LA ARADA' 'SAN JUAN ERMITA' 'JOCOTAN' 'CAMOTAN' 'OLOPA'
 'ESQUIPULAS' 'CONCEPCION LAS MINAS' 'QUEZALTEPEQUE' 'SAN JACINTO' 'IPALA'
 'ESCUINTLA' 'SANTA LUCIA COTZUMALGUAPA' 'LA DEMOCRACIA' 'SIQUINALA'
 'MASAGUA' 'TIQUISATE' 'LA GOMERA' 'GUANAGAZAPA' 'IZTAPA' 'PALIN'
 'SAN VICENTE PACAYA' 'NUEVA CONCEPCION' 'SIPACATE'
 'SANTA CRUZ DEL QUICHE' 'CHICHE' 'CHINIQUE' 'ZACUALPA' 'CHAJUL'
 'SANTO TOMAS CHICHICASTENANGO' 'PATZITE' 'SAN ANTONIO ILOTENANGO'
 'SAN PEDRO JOCOPILAS' 'CUNEN' 'SAN JUAN COTZAL' 'JOYABAJ' 'NEBAJ'
 'SAN ANDRES SAJCABAJA' 'SAN MIGUEL USPANTAN' 'SACAPULAS'
 'SAN BARTOLOME JOCOTENANGO' 'CANILLA' 'CHICAMAN' 'IXCAN' 'PACHALUN'
 'HUEHUETENANGO' 'CHIANTLA' 'MALACATANCITO' 'CUILCO' 'NENTON'
 'SAN PEDRO NECTA' 'JACALTENANGO' 'SAN PEDRO SOLOMA'
 'SAN ILDEFONSO IXTAHUACAN' 'SANTA BARBARA' 'SAN MIGUEL ACATAN'
 'SAN RAFAEL LA INDEPENDENCIA' 'TODOS SANTOS CUCHUMATAN' 'SAN JUAN ATITAN'
 'SANTA EULALIA' 'SAN MATEO IXTATAN' 'COLOTENANGO'
 'SAN SEBASTIAN HUEHUETENANGO' 'TECTITAN' 'CONCEPCION HUISTA'
 'SAN JUAN IXCOY' 'SAN ANTONIO HUISTA' 'SAN SEBASTIAN COATAN'
 'SANTA CRUZ BARILLAS' 'AGUACATAN' 'SAN RAFAEL PETZAL'
 'SANTIAGO CHIMALTENANGO' 'SANTA ANA HUISTA' 'UNION CANTINIL' 'PETATAN'
 'JALAPA' 'SAN PEDRO PINULA' 'SAN LUIS JILOTEPEQUE' 'SAN MANUEL CHAPARRON'
 'SAN CARLOS ALZATATE' 'MONJAS' 'MATAQUESCUINTLA' 'CUILAPA' 'BARBERENA'
 'SANTA ROSA DE LIMA' 'CASILLAS' 'SAN RAFAEL LAS FLORES' 'ORATORIO'
 'SAN JUAN TECUACO' 'CHIQUIMULILLA' 'TAXISCO' 'SANTA MARIA IXHUATAN'
 'GUAZACAPAN' 'SANTA CRUZ NARANJO' 'PUEBLO NUEVO VIÑAS' 'NUEVA SANTA ROSA'
 'SAN MARCOS' 'SAN PEDRO SACATEPEQUEZ' 'SAN ANTONIO SACATEPEQUEZ'
 'COMITANCILLO' 'SAN MIGUEL IXTAHUACAN' 'CONCEPCION TUTUAPA' 'TACANA'
 'SIBINAL' 'TAJUMULCO' 'TEJUTLA' 'SAN RAFAEL PIE DE LA CUESTA'
 'NUEVO PROGRESO' 'EL TUMBADOR' 'SAN JOSE EL RODEO' 'MALACATAN' 'CATARINA'
 'AYUTLA' 'OCOS' 'SAN PABLO' 'EL QUETZAL' 'LA REFORMA' 'PAJAPITA'
 'IXCHIGUAN' 'SAN JOSE OJETENAM' 'SAN CRISTOBAL CUCHO' 'SIPACAPA'
 'ESQUIPULAS PALO GORDO' 'RIO BLANCO' 'SAN LORENZO' 'LA BLANCA'
 'GUATEMALA' 'SANTA CATARINA PINULA' 'SAN JOSE PINULA'
 'SAN JOSE DEL GOLFO' 'PALENCIA' 'CHINAUTLA' 'SAN PEDRO AYAMPUC' 'MIXCO'
 'SAN JUAN SACATEPEQUEZ' 'SAN RAYMUNDO' 'CHUARRANCHO' 'FRAIJANES'
 'AMATITLAN' 'VILLA NUEVA' 'VILLA CANALES' 'SAN MIGUEL PETAPA'
 'ANTIGUA GUATEMALA' 'JOCOTENANGO' 'PASTORES' 'SUMPANGO'
 'SANTO DOMINGO XENACOJ' 'SANTIAGO SACATEPEQUEZ'
 'SAN BARTOLOME MILPAS ALTAS' 'SAN LUCAS SACATEPEQUEZ'
 'SANTA LUCIA MILPAS ALTAS' 'MAGDALENA MILPAS ALTAS'
 'SANTA MARIA DE JESUS' 'CIUDAD VIEJA' 'SAN MIGUEL DUENAS' 'ALOTENANGO'
 'SAN ANTONIO AGUAS CALIENTES' 'SANTA CATARINA BARAHONA' 'SOLOLA'
 'SAN JOSE CHACAYA' 'SANTA MARIA VISITACION' 'SANTA LUCIA UTATLAN'
 'NAHUALA' 'SANTA CATARINA IXTAHUACAN' 'SANTA CLARA LA LAGUNA'
 'SAN ANDRES SEMETABAJ' 'PANAJACHEL' 'SAN ANTONIO PALOPO'
 'SAN LUCAS TOLIMAN' 'SAN PABLO LA LAGUNA' 'SAN MARCOS LA LAGUNA'
 'SAN JUAN LA LAGUNA' 'SAN PEDRO LA LAGUNA' 'SANTIAGO ATITLAN' 'ZACAPA'
 'ESTANZUELA' 'RIO HONDO' 'GUALAN' 'TECULUTAN' 'USUMATLAN' 'CABAÑAS'
 'SAN DIEGO' 'LA UNION' 'HUITE' 'SAN JORGE' 'RETALHULEU' 'SAN SEBASTIAN'
 'SANTA CRUZ MULUA' 'SAN MARTIN ZAPOTITLAN' 'SAN FELIPE'
 'SAN ANDRES VILLA SECA' 'CHAMPERICO' 'NUEVO SAN CARLOS' 'EL ASINTAL'
 'TOTONICAPAN' 'SAN CRISTOBAL TOTONICAPAN' 'SAN FRANCISCO EL ALTO'
 'SAN ANDRES XECUL' 'MOMOSTENANGO' 'SANTA MARIA CHIQUIMULA'
 'SANTA LUCIA LA REFORMA' 'SAN BARTOLO AGUAS CALIENTES' 'CHIMALTENANGO'
 'SAN JOSE POAQUIL' 'SAN MARTIN JILOTEPEQUE' 'SAN JUAN COMALAPA'
 'SANTA APOLONIA' 'TECPAN GUATEMALA' 'PATZUN' 'SAN MIGUEL POCHUTA'
 'PATZICIA' 'SANTA CRUZ BALANYA' 'ACATENANGO' 'SAN PEDRO YEPOCAPA'
 'SAN ANDRES ITZAPA' 'PARRAMOS' 'ZARAGOZA' 'EL TEJAR' 'MAZATENANGO'
 'CUYOTENANGO' 'SAN FRANCISCO ZAPOTITLAN' 'SAN BERNARDINO'
 'SAN JOSE EL IDOLO' 'SANTO DOMINGO SUCHITEPEQUEZ' 'SAMAYAC'
 'SAN PABLO JOCOPILAS' 'SAN ANTONIO SUCHITEPEQUEZ' 'SAN GABRIEL'
 'CHICACAO' 'PATULUL' 'SANTO TOMAS LA UNION' 'ZUNILITO' 'PUEBLO NUEVO'
 'RIO BRAVO' 'SAN JOSE LA MAQUINA' 'GUASTATOYA' 'MORAZAN'
 'SAN AGUSTIN ACASAGUASTLAN' 'SAN CRISTOBAL ACASAGUASTLAN' 'EL JICARO'
 'SANSARE' 'SANARATE' 'SAN ANTONIO LA PAZ' 'COBAN' 'SANTA CRUZ VERAPAZ'
 'SAN CRISTOBAL VERAPAZ' 'TACTIC' 'TAMAHU' 'SAN MIGUEL TUCURU' 'PANZOS'
 'SENAHU' 'SAN PEDRO CARCHA' 'SAN JUAN CHAMELCO' 'LANQUIN'
 'SANTA MARIA CAHABON' 'CHISEC' 'CHAHAL' 'FRAY BARTOLOME DE LAS CASAS'
 'LA TINTA' 'RAXRUHA' 'QUETZALTENANGO' 'SALCAJA' 'OLINTEPEQUE'
 'SAN CARLOS SIJA' 'SIBILIA' 'CABRICAN' 'CAJOLA' 'SAN MIGUEL SIGUILA'
 'SAN JUAN OSTUNCALCO' 'SAN MATEO' 'CONCEPCION CHIQUIRICHAPA'
 'SAN MARTIN SACATEPEQUEZ' 'ALMOLONGA' 'CANTEL' 'HUITAN' 'ZUNIL'
 'COLOMBA COSTA CUCA' 'SAN FRANCISCO LA UNION' 'EL PALMAR' 'COATEPEQUE'
 'GENOVA COSTA CUCA' 'FLORES COSTA CUCA' 'LA ESPERANZA'
 'PALESTINA DE LOS ALTOS' 'JUTIAPA' 'EL PROGRESO' 'SANTA CATARINA MITA'
 'AGUA BLANCA' 'ASUNCION MITA' 'YUPILTEPEQUE' 'ATESCATEMPA' 'JEREZ'
 'EL ADELANTO' 'ZAPOTITLAN' 'COMAPA' 'JALPATAGUA' 'CONGUACO' 'MOYUTA'
 'PASACO' 'SAN JOSE ACATEMPA' 'QUESADA']

Valores únicos en ESTABLECIMIENTO:
["INSTITUTO PRIVADO MIXTO DE EDUCACION DIVERSIFICADA COLEGIO 'CRISTO REY' JN"
 "INSTITUTO POR COOPERATIVA 'DR. LUIS PASTEUR'"
 'ESCUELA NACIONAL MIXTA DE CIENCIAS COMERCIALES DOMINGO JUARROS' ...
 'COLEGIO SANTA FE' 'COLEGIO INTEGRAL DE COMPUTACION EDUCARE'
 'COLEGIO PARTICULAR MIXTO MONTE SION']

Como podemos ver encontramos datos con comillas simples, comillas dobles por lo que no es buena señal asi que vamos a remover comillas innecesarias

In [15]:
import re
# Quitamos las comillas simples y dobles del texto
def limpiar_nombre_completo(texto):
    if pd.isnull(texto):
        return texto
    # Quitamos las comillas internas
    texto = re.sub(r"[\"']", '', texto)
    texto = texto.strip()
    return texto

# Aplicar a las columnas clave
for col in ['ESTABLECIMIENTO', 'DEPARTAMENTO', 'MUNICIPIO']:
    df[col] = df[col].apply(limpiar_nombre_completo)

Vamos a revisar y agrupar variantes por ejemplo si hubiesen escrito GUATEMALA, GUATEMALAA., GUA TE MALA o cosas asi aunque en los datos que vemos pues no vemos algo asi pero por si acaso.

In [20]:
for col in ['ESTABLECIMIENTO', 'MUNICIPIO' ]:
    print(f"\nValores únicos en {col}:")
    print(df[col].value_counts().head(20))

Valores únicos en ESTABLECIMIENTO:
ESTABLECIMIENTO
INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA                        352
INSTITUTO NACIONAL DE EDUCACIÓN DIVERSIFICADA                        113
CENTRO DE EDUCACIÓN EXTRAESCOLAR -CEEX-                               37
INSTITUTO DIVERSIFICADO POR COOPERATIVA                               27
INSTITUTO DE EDUCACION DIVERSIFICADA POR COOPERATIVA DE ENSEÑANZA     27
INSTITUTO DE EDUCACIÓN DIVERSIFICADA POR COOPERATIVA DE ENSEÑANZA     20
ESCUELA NORMAL DE EDUCACION FISICA                                    20
INSTITUTO GUATEMALTECO DE EDUCACION RADIOFONICA (IGER)                20
INSTITUTO DE COMPUTACION INFORMATICA                                  18
INSTITUTO DIVERSIFICADO POR COOPERATIVA DE ENSEÑANZA                  16
COLEGIO PRIVADO MIXTO AMERICANO                                       15
LICEO CANADIENSE SOCIEDAD ANONIMA                                     14
INSTITUTO PRIVADO MIXTO DE COMPUTACION INFORMATICA                    14
ESCUELA NORMAL INTERCULTURAL                                          14
CENTRO DE EDUCACIÓN EXTRAESCOLAR CEEX                                 14
COLEGIO PARTICULAR MIXTO SAGRADO CORAZÓN                              13
ESCUELA NACIONAL DE CIENCIAS COMERCIALES                              13
LICEO EXPERIMENTAL                                                    13
COLEGIO CRISTIANO ELIM                                                12
ASOCIACION DE MAESTROS DE EDUCACION RURAL DE GUATEMALA -AMERG-        12
Name: count, dtype: int64

Valores únicos en MUNICIPIO:
MUNICIPIO
ZONA 1                       856
MIXCO                        541
VILLA NUEVA                  427
QUETZALTENANGO               275
ZONA 7                       232
MAZATENANGO                  200
RETALHULEU                   199
CHIMALTENANGO                196
ESCUINTLA                    187
HUEHUETENANGO                173
PUERTO BARRIOS               172
SAN MIGUEL PETAPA            158
ZONA 12                      144
ANTIGUA GUATEMALA            140
AMATITLAN                    138
SANTA LUCIA COTZUMALGUAPA    134
ZONA 18                      128
MORALES                      128
JUTIAPA                      125
COBAN                        121
Name: count, dtype: int64

Vemos demasiados datos que se ponen en dos categorias distintas unicamente por las tildes en que existen en unas pero en la otra no... Investigando un poco de que se hace en esos casos y lo mas fácil pues es eliminar las tildes. También se puede ver que hay valores que se repiten a pesar de que cada código es único en el dataset y es que existen instituciones que comparten el mismo nombre y se encuentran en el mismo departamento y muncipio pero lo único que cambia es la dirección del instituto. Para tener los datos los más limpios posibles vamos a deshacernos de tildes y guiones que se usen en el nombre de las instituciones.

In [ ]:
df["ESTABLECIMIENTO"] = (
    df["ESTABLECIMIENTO"]
    .astype(str)
    .apply(lambda x: unidecode(x))
    .str.replace("-", "", regex=False)
)

In [17]:
for col in ['DEPARTAMENTO']:
    print(f"\nValores únicos en {col}:")
    print(df[col].value_counts().head(20))

Valores únicos en DEPARTAMENTO:
DEPARTAMENTO
CIUDAD CAPITAL    2122
GUATEMALA         1813
ESCUINTLA          698
SAN MARCOS         661
HUEHUETENANGO      557
QUETZALTENANGO     535
PETEN              489
SUCHITEPEQUEZ      430
ALTA VERAPAZ       424
CHIMALTENANGO      423
SACATEPEQUEZ       408
IZABAL             406
JUTIAPA            369
RETALHULEU         344
QUICHE             280
CHIQUIMULA         222
SANTA ROSA         194
SOLOLA             183
JALAPA             177
BAJA VERAPAZ       153
Name: count, dtype: int64

Aca vemos que Guatemala y Ciudad capital deberian ser lo mismo asi que vamos a cambiar esto...

In [ ]:
# Corregir CIUDAD CAPITAL → GUATEMALA Y DEPARTAMENTO → NaN
df['DEPARTAMENTO'] = df['DEPARTAMENTO'].replace({
    'CIUDAD CAPITAL': 'GUATEMALA',
    'DEPARTAMENTO': pd.NA
})

In [57]:
print(df['DEPARTAMENTO'].value_counts())

DEPARTAMENTO
GUATEMALA         1904
SAN MARCOS         432
ESCUINTLA          393
QUETZALTENANGO     365
CHIMALTENANGO      304
SUCHITEPEQUEZ      296
JUTIAPA            296
HUEHUETENANGO      295
ALTA VERAPAZ       294
IZABAL             273
RETALHULEU         272
PETEN              270
SACATEPEQUEZ       208
QUICHE             184
CHIQUIMULA         136
SANTA ROSA         133
JALAPA             121
SOLOLA             111
BAJA VERAPAZ        94
ZACAPA              70
TOTONICAPAN         51
Name: count, dtype: int64

In [58]:
import unicodedata

def quitar_tildes(texto):
    if pd.isnull(texto):
        return texto
    texto = unicodedata.normalize('NFKD', texto)
    texto = ''.join([c for c in texto if not unicodedata.combining(c)])
    return texto

# Aplicar a las columnas clave
for col in ['ESTABLECIMIENTO', 'DEPARTAMENTO', 'MUNICIPIO']:
    df[col] = df[col].apply(quitar_tildes)

Volvemos a verificar...

In [59]:
for col in ['ESTABLECIMIENTO', 'MUNICIPIO']:
    print(f"\nValores únicos en {col}:")
    print(df[col].value_counts().head(20))

Valores únicos en ESTABLECIMIENTO:
ESTABLECIMIENTO
INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA                        375
INSTITUTO DE EDUCACION DIVERSIFICADA POR COOPERATIVA DE ENSENANZA     42
CENTRO DE EDUCACION EXTRAESCOLAR -CEEX-                               33
ESCUELA NORMAL DE EDUCACION FISICA                                    21
INSTITUTO DE COMPUTACION INFORMATICA                                  18
INSTITUTO DIVERSIFICADO POR COOPERATIVA                               15
LICEO SAN JOSE                                                        15
INSTITUTO DIVERSIFICADO POR COOPERATIVA DE ENSENANZA                  14
INSTITUTO DE EDUCACION DIVERSIFICADA POR COOPERATIVA                  14
COLEGIO PARTICULAR MIXTO SAGRADO CORAZON                              13
LICEO CANADIENSE SOCIEDAD ANONIMA                                     13
ESCUELA NACIONAL DE CIENCIAS COMERCIALES                              13
INSTITUTO TECNICO INDUSTRIAL HENRY FORD                               12
INSTITUTO EVANGELICO AMERICA LATINA                                   11
ESCUELA NORMAL INTERCULTURAL                                          10
COLEGIO PRIVADO MIXTO AMERICANO                                       10
INSTITUTO MIXTO DE EDUCACION DIVERSIFICADA POR COOPERATIVA            10
INSTITUTO TECNOLOGICO EMPRESARIAL                                      9
CENTRO DE EDUCACION EXTRAESCOLAR -CEEX- DEPARTAMENTAL                  9
INSTITUTO GUILLERMO PUTZEYS ALVAREZ                                    9
Name: count, dtype: int64

Valores únicos en MUNICIPIO:
MUNICIPIO
ZONA 1                       302
MIXCO                        300
VILLA NUEVA                  223
QUETZALTENANGO               175
RETALHULEU                   156
CHIMALTENANGO                138
MAZATENANGO                  126
ZONA 7                       109
MORALES                       98
ESCUINTLA                     97
PUERTO BARRIOS                95
SAN MIGUEL PETAPA             94
JUTIAPA                       90
HUEHUETENANGO                 86
COBAN                         80
AMATITLAN                     78
ZONA 12                       78
SANTA LUCIA COTZUMALGUAPA     74
COATEPEQUE                    74
SAN JUAN SACATEPEQUEZ         71
Name: count, dtype: int64

### Ya que terminamos con la limpieza podemos guardar el dataset.

In [60]:
df.to_csv('institutions_data_limpio.csv', index=False)
print("Archivo limpio guardado como institutions_data_limpio.csv")

Archivo limpio guardado como institutions_data_limpio.csv

Esto es verificacion de como queda un datos con dos numeros de telefono.

In [61]:
codigo_buscado = "16-03-1388-46"

registro = df[df['CODIGO'] == codigo_buscado]

# Mostrar el resultado
if not registro.empty:
    display(registro)
else:
    print(f"No se encontró ningún registro con CODIGO: {codigo_buscado}")

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL,TELEFONO_1,TELEFONO_2
110,16-03-1388-46,16-008,ALTA VERAPAZ,SAN CRISTOBAL VERAPAZ,COLEGIO MESON,8A. AVENIDA 6-00 ZONA 1,EMIILIO RUBÉN CAÁL GUALIB,LUIS EMILIO SOLARES MARROQUIN,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ,79504027,79504028